/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
//  @import "bootstrap";

:root {
  --bs-body-bg: #EEEEEE;
  --color-1: #222831;
  --color-2: #393E46;
  --color-3: #00ADB5;
  --color-4: #EEEEEE;
  --text-light: #666666;
  --alert-color: #e17055;
  --notification-color: #0984e3;  
}
.navbar-brand{
  background-color: #fff;
  color: var(--color-3);
  padding: 5px 25px;
  border-radius: 25px;
  img{
    height: 30px;
    margin-right: 10px;
  }
  &:hover{
    color: var(--color-3);
  }
}
/* main banner*/
.home-banner{
  padding-left: 0px;
  padding-right: 0px;
  position: relative;  
  z-index: 0;
  background-image: url('/assets/sporlab-XiZ7pRvCzro-unsplash.jpg');
  background-repeat: no-repeat;
  min-height: 600px;
  background-size: cover;
  padding-top: 100px;
  .overlay{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,173,181,0) 0%, rgba(9,9,121,0.6796919451374299) 45%, rgba(34,40,49,1) 100%);
  }
  .content{
    color: #fff;
    position: relative;    
    z-index: 2;
    h1{
      font-size: 40px;
      margin-bottom: 30px;
    }
    p{
      font-size: 18px;
      margin-bottom: 20px;
    }
    a{
      text-decoration: none;
      display: inline-block;
      font-size: 18px;
      font-weight: bold;
      padding: 15px 45px;
      background-color: var(--color-3);
      color: #fff;
      border-radius: 5px;
      -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
      -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
      box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
    }
  }
}
/* Notifications */
.notifications{
  position: absolute;
  width: 100%;
  z-index: 9999;
  p{
    margin:0px;
    padding: 20px 15px;
    text-align: center;
    font-weight: bold;
    color: #fff;
    &.notification-alert{
      background-color: var(--alert-color);
    }
    &.notification-notice{
      background-color: var(--notification-color);
    }
  }
}
.form-wrapper{
  overflow: hidden;
  header{
    background-color: var(--color-3);
    color: #fff;
    padding: 10px 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
  }
  form{
    padding-left: 15px;
    padding-right: 15px;
    .time-select{
      flex-wrap: wrap;
      label{
        width: 100%;
      }
      select{
        min-width: 25%;
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #212529;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
          -webkit-appearance: none;
            -moz-appearance: none;
        appearance: none;
        border-radius: .375rem;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
      }
    }
  }
  .actions-shared{
    margin-bottom: 15px;
    text-align: right;
    padding-left: 15px;
    padding-right: 15px;
    a{
      margin: 0 5px;
      display: inline-block;
      font-weight: bold;
      text-decoration: none;
      &.back{
        color: var(--color-1);
      }
      &.edit{
        color: var(--alert-color);
      }
      &.show{
        color: var(--notification-color);
      }
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

.activity{
  color: var(--color-2);
  header{
    margin-bottom: 10px;
    font-style: italic;
    i{
      color: var(--color-3);
    }
    h2{font-style: normal;}
    h4{
      font-style: normal;
      margin: 0px;
    }
    small{
      font-style: italic;
      font-size: .575em;
      color: var(--color-3);
      font-weight: 400;
      text-transform: capitalize;        
    }
    a{
      font-style: normal;
      text-decoration: none;
      color: var(--color-2);
      &:hover{
        text-decoration: underline;
        color: var(--color-3);
      }
    }
  }
  p{
    margin-bottom: 0.5rem;
    color: var(--text-light);
    &:last-child{
      margin-bottom: 0px;
    }
    i{
      margin-right: 5px;
    }
    &.heart-rate{
      i{      
        color: var(--alert-color);
      }
    }
    &.pace{
      i{
        color: var(--notification-color);
      }
    }
  }
}
.activity-container{
  margin-top: 60px;
  ul{
    margin: 0px;
    padding: 0px;
    li{
      list-style: none;
      margin-bottom: 30px;
      .activity{
        height: 100%;
        -webkit-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
           -moz-box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
                box-shadow: 0px 6px 5px 0px rgba(0,0,0,0.15);
      }
    }
  }
}
.controls{
  margin-top: 10px;
  text-align: right;  
  a{
    margin: 0 5px;
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    &.back{
      color: var(--color-1);
    }
    &.edit{
      color: var(--alert-color);
    }
    &.show{
      color: var(--notification-color);
    }
    &:hover{
      text-decoration: underline;
    }
  }
}