<div class="container">  
  <%- if(@activities) %>
    <ul class="row">
      <% @activities.each do |activity| %>
        <li class="activity-wrapper col-3">          
          <%= render activity %>
        </li>
      <% end %>
    </ul>
  <% end %>  
</div>