<div class="container activity-container">  
  <%- if(@activities) %>
    <ul class="row">
      <% @activities.each do |activity| %>
        <li class="col-sm-12 col-md-3">
          <%= render activity %>
        </li>
      <% end %>
    </ul>
  <% end %>  
</div>