<div class="col-md-4 offset-md-4 mt-5 mb-5 form-wrapper mb-5">
  <div class="bg-white pb-1">
    <header>
      <h2><%= t('activity.newActivity') %></h2>
    </header>
    <%= render 'form', activity: @activity %>
    <div class="actions-shared">
      <%= link_to 'Back', activities_path %>
    </div>
  </div>
</div>